<section>
    <mat-tab-group mat-align-tabs="center"  backgroundColor="primary">
        <mat-tab label="Log In">
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit($event)" novalidate>
                <div class="form-container">  
                  <mat-form-field  hintLabel="Enter Login Mobile No.">
                    <mat-label>Mobile No.</mat-label>
                    <input id="mobile" matInput formControlName="mobile" [(ngModel)]="loginuser.mobile" placeholder="Enter your Mobile No.">
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input id="password" matInput formControlName="password" [(ngModel)]="loginuser.password" placeholder="Enter your password" [type]="hide ? 'password':'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field><br>
                    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
                </div>
              </form>
        </mat-tab>
        <mat-tab label="Registration">
          <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit($event)" novalidate>
            <div class="form-container">
              <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input id="fullname" matInput formControlName="name" [(ngModel)]="reguser.name" placeholder="Enter your full name">
              </mat-form-field><br>
              <mat-form-field hintLabel="Max 10 characters">
                <input id="unumber" matInput formControlName="mobilenumber" [(ngModel)]="reguser.mobilenumber" #mobile maxlength="10" placeholder="Enter Mobile Number">
                <mat-hint align="end">{{mobile.value?.length || 0}}/10</mat-hint>
              </mat-form-field><br>
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                  <input id="email" matInput formControlName="email" [(ngModel)]="reguser.email" placeholder="Enter your email">
                </mat-form-field><br>
              <mat-form-field>
                <mat-label>Password</mat-label>
                  <input id="password" matInput formControlName="password" [(ngModel)]="reguser.password" placeholder="Enter your password" [type]="hide ? 'password':'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field><br>
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                    <input id="cpassword" matInput formControlName="cpassword" [(ngModel)]="reguser.cpassword" placeholder="Confirm your password" [type]="hide ? 'password':'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Streat / Area Name</mat-label>
                    <input matInput formControlName="streatname" [(ngModel)]="reguser.streatname" placeholder="Enter Streat / Area Name">
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Address 1</mat-label>
                    <textarea matInput formControlName="address1" [(ngModel)]="reguser.address1" placeholder="Enter your complete Address"></textarea>
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Address 2</mat-label>
                    <textarea matInput formControlName="address2" [(ngModel)]="reguser.address2" placeholder="Enter your complete Address"></textarea>
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>Near By Location</mat-label>
                    <textarea matInput formControlName="nearby" [(ngModel)]="reguser.nearby" placeholder="Enter Near By Location"></textarea>
                  </mat-form-field><br>
                  <mat-form-field hintLabel="Max 6 characters">
                    <mat-label>Pin Code</mat-label>
                    <input matInput formControlName="pincode" [(ngModel)]="reguser.pincode" #input maxlength="6" placeholder="Enter Pin Code">
                    <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
                  </mat-form-field><br><br>
                <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!registerForm.valid">Register</button>
            </div>
          </form>
      </mat-tab>
    </mat-tab-group>
</section>
