<section class="faq-area section-gap" id="faq">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Frequently Asked Questions</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-lg-6 faq-left">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Are your Templates responsive?</button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Does it have all the plugin as mentioned?</button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can i use the these theme for my client?</button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Are your Templates responsive?</button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header justify-content-center">
            <h1>Quick Enquiry</h1>
            <form [formGroup]="enquiryForm" (ngSubmit)="enquiryForm.valid && onEnquirySubmit($event)" novalidate>
              <div class="form-container">
                <mat-form-field>
                  <mat-label>Full Name</mat-label>
                  <input id="fullname" matInput formControlName="name" [(ngModel)]="reguser.name" #name placeholder="Enter your full name">
                  <mat-error *ngIf="enquiryForm.get('name').errors.required">Name is Required.</mat-error>
                </mat-form-field><br>
                <mat-form-field hintLabel="Max 10 characters">
                  <input id="unumber" matInput formControlName="mobilenumber" [(ngModel)]="reguser.mobilenumber" #mobile maxlength="10" placeholder="Enter Mobile Number">
                  <mat-hint align="end">{{mobile.value?.length || 0}}/10</mat-hint>
                  <mat-error *ngIf="enquiryForm.get('mobilenumber').errors.required">Mobile number is Required.</mat-error>
                  <mat-error *ngIf="mobile.value?.length < '10' && mobile.value?.length > '0'">Mobile number is Invalid.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                  <mat-label>Email Address</mat-label>
                  <input id="email" matInput formControlName="email" [(ngModel)]="reguser.email" #mail placeholder="Enter your email">
                  <mat-error *ngIf="enquiryForm.get('email').errors.required">Mail Id is Required.</mat-error>
                  <mat-error *ngIf="mail.value?.length < '18' && mail.value?.length > '0'">Mail Id is Invalid.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                  <mat-label>Enquiry Question</mat-label>
                  <textarea id="enq" matInput formControlName="enq" [(ngModel)]="reguser.enq" #enq placeholder="Enter your Enquiry Question"></textarea>
                  <mat-error *ngIf="enquiryForm.get('enq').errors.required">Enquiry Question is Required.</mat-error>
                  <mat-error *ngIf="enq.value?.length < '12' && enq.value?.length > '0'">Enquiry Question is Invalid.</mat-error>
                </mat-form-field><br>
                <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!enquiryForm.valid">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>