<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" position="start">
      <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item><mat-icon>close</mat-icon> Close</a>
          <a routerLink="/" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item><mat-icon>home</mat-icon> HOME</a>
          <a routerLink="/about-us" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item> ABOUT US</a>
          <a routerLink="product" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item> PRODUCTS</a>
          <a routerLink="/contact-us" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item> CONTACT US</a>
          <a  routerLink="/login" (click)="sidenav.toggle()" routerLinkActive="active"  mat-list-item> LOG IN</a> 
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" class="sticky-top">
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          <a routerLink="/" routerLinkActive="active" mat-list-item><h1 class="text-white">LUCAS WOODY INDIA</h1></a>
          <span class="spacer"></span>
          <app-header></app-header>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
      <app-review *ngIf="router.url != '/login'"></app-review>
      <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
