<section>
  <mat-toolbar class="bg-dark text-white fixed-top">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <a [routerLink]="'home'" routerLinkActive="active" style="color: #FFD700">Kushwaha Watch Company</a>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button [matMenuTriggerFor]="menu">Watch</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Men's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Women's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Kid's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Smart Watch</button>
        </mat-menu>
        <button mat-button [routerLink]="'accessories'" routerLinkActive="active">Accessories</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="mt-5">
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title> Watch </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Men's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Women's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Kid's Watch</button>
          <button mat-menu-item [routerLink]="'watch'" routerLinkActive="active">Smart Watch</button>
        </mat-expansion-panel>
        <a mat-list-item [routerLink]="'accessories'" routerLinkActive="active">Accessories</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <section style="margin-top: 3.5rem;">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<app-footer></app-footer>
