<section>
  <mat-toolbar class="bg-dark text-white fixed-top">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <a [routerLink]="'home'" routerLinkActive="active" style="color: #FFD700">Kushwaha Watch Company</a>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a mat-button [routerLink]="'watch'" routerLinkActive="active">Watch</a>
        <a mat-button [routerLink]="'accessories'" routerLinkActive="active">Accessories</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="mt-5">
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a mat-list-item [routerLink]="'watch'" routerLinkActive="active">Watch</a>
        <a mat-list-item [routerLink]="'accessories'" routerLinkActive="active">Accessories</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <section style="margin-top: 3.5rem;">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<app-footer></app-footer>
